img{
    position: absolute;
    top: 30px;
    left: 30px;
    height: 300px;
    width: auto;
    border-radius: 50%;
}
#image{
    background-color: gray;
    width: 450px;
    height: 1000px;
}
#text{
    position: absolute;
    top: 10px;
    left: 500px;
}
#contacts{
    position: absolute;
    right: 600px;
    top: 325px;
}